
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #b9f59f;
    margin-inline: auto;
}

.container {
    max-width: 1320px;
    padding: 50px;
    text-align: center;
}

h1{
    font-size: 50px;
    color: rgb(35, 35, 35);
}

.wel{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(76, 75, 75);
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card img{
    width: 15rem;
    border-radius: 10px 0px 0px 10px;
}

.card{
    margin: 10px;
    width: 45%;
    display: flex;
    flex-flow: row;
    border-radius: 10px;
    color: rgb(76, 75, 75);
}

.card-title{
    font-weight: 600; 
    font-size: 22px;  
    padding-bottom: 5px;
}

.card-text{
    padding: 10px 0px;
}

.card-body{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.btn{
    transition-duration: 0ms;
    transform: scaleX(1);
}

.btn:hover{
    background-color: rgba(1, 96, 1, 0.929);
    transform: scaleX(1.03);
    transition-duration: 200ms;
}