*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  background-color: yellowgreen;
  color:white;
  padding: 20px;
  text-align: center;
}

.para{
  background-color: gray;
  text-align: center;
  padding: 8px;
}

div{
  display: flex;
  /* flex-direction: column; */
  height: 80vh;
  justify-content: center;
  align-items: center;
}

button{
  margin: 20px 20px;
  background-color: purple;
  color:white;
  border: none;
  padding: 5px;
}

input{
  border: 2px solid gray;
  padding: 5px;
}

input:focus{
  outline: none;
}

#message{
  margin: 20px 0px;
}