* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
  height: 700px;
}

.container {
  width: 100%;
  color: #fff;
  max-width: 1000px;
}

.search {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

#countryInput {
  flex: 1;
  background-color: #0f172a;
  border: 1px solid rgba(96, 165, 250, 0.6);
  padding: 14px;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
}

#countryInput:focus {
  transform: translateY(-1.5px);
  color: #fff;
}

#getData {
  background: linear-gradient(90deg, #06b6d4 0%, #3b82f6 100%);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  /* cursor: pointer; */
  transition: transform 0.1s, opacity 0.1s;
}

#getData:active {
  transform: translateY(1px);
}

/* card */
.card {
  border-radius: 10px;
  padding: 18px;
  display: flex;
  gap: 25px;
  border: 2px solid rgba(96, 165, 250, 0.6);
}

.left {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-right: 1px solid rgba(96, 165, 250, 0.6);
}

.flag {
  width: 200px;
  height: 128px;
  border-radius: 5px;
}

.small {
  font-size: 13px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.meta {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.stat {
  padding: 12px 14px;
  border-radius: 6px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgba(96, 165, 250, 0.6);
}

.big {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.lastUpdated {
  font-size: 13px;
  margin-top: 5px;
}

#error {
  font-weight: 600;
  margin-top: 12px;
}
